*{ 
  margin: 0;
  text-align: center;
  direction: rtl;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Vazir', sans-serif;
  background-color: #b4a8de;
  color: #b32dd4;
}







































